In [1]:
import pandas as pd

In [16]:
job_details=pd.read_csv('job_details_int - job_details.csv')
job_category=pd.read_csv('job_categories_master_int - job_categories.csv')
skill_set=pd.read_csv('skill_set_int - skill_set.csv')
company=pd.read_csv('company - company.csv')
applicants=pd.read_csv('applicants - applicants.csv')
job_applied=pd.read_csv('job_applied_int - job_applied.csv')
company.head(30)

,id,name,address,city_id,state_id,country_id,language_id,pincode,no_of_employee,business_type,...,recruitment,status,timezone,timezone_display,date_format,logo,agent_id,source,created_at,updated_at
0,1,SAMSUNG,Hinjewadi,2763,22,101,1,412939.0,50-100,Pvt Ltd,...,0,1,5.5,[UTC+5:30],NaN,84d9e0f3c812364ba4b085a46da7dda9.png,NaN,handson,10/11/19 07:47 am,12/07/20 09:20 am
1,2,Devops Company,"Office No 78, Nigdi",2763,22,101,1,232443.0,200-500,Marketing,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/11/19 10:14 am,05/24/21 03:13 am
2,3,NIKE,"office 10, Pune",2827,22,101,1,588888.0,50-100,Finance,...,0,1,5.5,[UTC+5:30],NaN,a1f7f7a81543ba81e2b69fb323e25793.png,NaN,handson,10/11/19 11:21 am,05/24/21 12:14 am
3,4,Global International School Foundation,"office10,Pune",2827,22,101,1,568956.0,100-200,School,...,0,1,5.5,[UTC+5:30],NaN,d844ae262e9302442e8ca6046b63c257.png,NaN,handson,10/11/19 11:25 am,03/12/20 06:11 am
4,5,Test,test,6,2,101,1,258569.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/11/19 11:33 am,NaN
5,6,IBM,Adin 404,73970,4271,231,1,323242.0,1-10,NaN,...,0,1,-8,[UTC-8],NaN,7fd4b84c7d1119746dfcf9925b4c9ccc.png,NaN,handson,10/11/19 11:57 am,12/02/19 05:24 am
6,7,Infosys,Hinjewadi,2763,22,101,1,41185.0,50-100,Pvt Ltd,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/11/19 12:48 pm,NaN
7,8,Test company,"office 33, chinnchwad",2827,22,101,1,855522.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/12/19 05:27 am,NaN
8,9,Chat Paradise,2 Chat lane,594,6,101,1,432908.0,1-10,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/15/19 12:28 am,10/15/19 12:29 am
9,10,Cadence academy,2 Burger lane,55007,4239,231,1,94678.0,1-10,NaN,...,0,1,-5,[UTC-5],NaN,a46f49d38e925f4751b6a1c57b2957a6.png,NaN,handson,10/15/19 01:14 am,10/28/20 06:08 pm
10,11,General Motors,chinchwad Pune,2763,22,101,1,411229.0,50-100,Pvt Ltd,...,0,1,5.5,[UTC+5:30],NaN,5d130f6f71274f17833f7656278285bc.png,NaN,handson,10/16/19 04:37 am,01/08/20 12:09 pm
11,12,InterDigital,Mesa,72366,4268,231,1,4849.0,50-100,Pvt Ltd,...,0,1,-7,[UTC-7],NaN,NaN,NaN,handson,10/16/19 07:19 am,11/02/19 01:08 pm
12,13,Test Company,"Office No 78, Pimpri",2652,22,101,1,232323.0,50-100,IT,...,0,1,5.5,[UTC+5:30],NaN,a3d44474044be432ff8b34e57ca876ae.png,NaN,handson,10/17/19 04:22 am,11/27/19 06:38 am
13,14,Dev Firm,"Office 1A, Texas",70529,4263,231,1,232433.0,NaN,NaN,...,0,1,-9,[UTC-9],NaN,NaN,NaN,handson,10/18/19 08:45 am,NaN
14,15,Test Android,"office 45, Pune",172,2,101,1,258258.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/18/19 12:15 pm,NaN
15,16,Test,Office 5,450,5,101,1,22323.0,1-10,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,10/30/19 07:11 am,11/02/19 12:09 pm
16,17,ABC test,City centre Hinjewadi,2760,22,101,1,11569.0,1-10,Pvt Ltd,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,11/02/19 04:46 am,11/05/19 10:07 am
17,18,Test Company,Office 89,2786,22,101,1,323232.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,11/02/19 07:39 am,NaN
18,19,Test Company,Office 56,594,6,101,1,232323.0,1-10,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,11/02/19 07:46 am,NaN
19,20,Dev Office,office no 78,594,6,101,1,253666.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,11/02/19 12:35 pm,NaN
20,21,TCS,pune,2763,22,101,1,411557.0,1-10,Pvt ltd,...,0,1,5.5,[UTC+5:30],NaN,NaN,NaN,handson,11/04/19 06:15 am,11/05/19 12:07 pm
21,22,Bajaj,pune,2764,22,101,1,512123.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,670.0,handson,11/25/19 11:05 am,NaN
22,23,Bharti Enterprises,pune 132,2763,22,101,1,523123.0,100-200,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,670.0,handson,11/25/19 11:39 am,NaN
23,24,Agent Test,"Offc 101, RK Street",2763,22,101,1,432432.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,669.0,handson,11/25/19 11:44 am,NaN
24,25,TCI,Hinjewadi,2763,22,101,1,213232.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,86e890b3c97555ed76ac9a9169e2e183.png,NaN,handson,11/26/19 03:52 am,NaN
25,26,Mahindra pvt ltd,acton145,73362,4271,231,1,846465.0,1-10,NaN,...,0,1,-10,[UTC-10],NaN,NaN,NaN,handson,11/26/19 06:48 am,11/26/19 06:48 am
26,27,Paragon,"Survey 546, At post Chakan",0,0,101,1,NaN,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,669.0,handson,11/27/19 05:01 am,NaN
27,28,Sehgal,"Office 10, Panvel",2727,22,101,1,2552555.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,669.0,handson,11/27/19 05:22 am,NaN
28,29,Pixel,"Office 10, Sahakar nagar",2791,22,101,1,546123.0,NaN,NaN,...,0,1,5.5,[UTC+5:30],NaN,NaN,669.0,handson,11/27/19 05:49 am,NaN
29,30,BS Electronic,Pune,2763,22,101,1,417586.0,50-100,NaN,...,0,1,5.5,[UTC+5:30],NaN,1eeee16b03b29aad663e3b88c2459b3c.png,670.0,handson,11/27/19 06:55 am,11/27/19 10:10 am

In [19]:
company['business_type'].value_counts()

Pvt Ltd         8
IT              3
Software        2
Banking         1
Hvs             1
Education       1
Marketing       1
IT.             1
IT services     1
Business        1
Retail sales    1
Pvt Ltd         1
Business        1
Finance         1
Pvt ltd         1
osm             1
asdf            1
Hj              1
asdfsf          1
School          1
Restaurant      1
Name: business_type, dtype: int64

In [21]:
company['no_of_employee'].value_counts()

1-10       51
50-100     14
11-50       6
200-500     4
100-200     3
Name: no_of_employee, dtype: int64

In [23]:
print(company['state_id'].value_counts())

22      203
10      120
17      113
2        80
4271     36
       ...
34        1
32        1
31        1
7         1
674       1
Name: state_id, Length: 74, dtype: int64

In [24]:
company['source'].value_counts()

jobPiker    433
handson     292
appcast     236
jobpiker      1
Name: source, dtype: int64

In [25]:
company['status'].value_counts()

1    958
0      4
Name: status, dtype: int64

In [26]:
company['recruitment'].value_counts()

0    934
1     28
Name: recruitment, dtype: int64

In [27]:
company['language_id'].value_counts()

1    906
0     56
Name: language_id, dtype: int64

In [28]:
company['timezone'].value_counts()

5.5     614
-3.5    241
-8       12
-9       10
-6        9
-5        9
10        9
-12       8
9.5       8
-11       8
-3        7
-4        6
-4.5      5
-9.5      5
-7        3
-10       3
0         1
-         1
4.5       1
-2        1
+5.5      1
Name: timezone, dtype: int64

In [30]:
job_category.head(30)

     id                              category  country_id
0   185                            Accounting         101
1   186                  Admin / Receptionist         101
2   187                           Back Office         101
3   188              Salon Beauty and Fitness         101
4   189                  Business Development         101
5   190                  Chartered Accountant         101
6   191        Computer / Data Entry Operator         101
7   192                       Content Writing         101
8   193                             Cook/Chef         101
9   194                            Counsellor         101
10  195                       Delivery Driver         101
11  196  Digital Marketing / Online Marketing         101
12  197              Driver / Delivery Driver         101
13  198                          DTP Operator         101
14  199                    Engineer / Telecom         101
15  200       Graphic Designer / DTP Operator         101
16  201           Hardware & Network Engineer         101
17  202        Hospitality / Hotel Management         101
18  203                           Hotel Staff         101
19  204                          Housekeeping         101
20  205                       Human Resources         101
21  206                        Lab Technician         101
22  207          Manufacturing and Production         101
23  208                                  Maid         101
24  209                            Healthcare         101
25  210                                 Nurse         101
26  211                     Office Boy / Peon         101
27  212      Receptionist / Front Office Desk         101
28  213                Retail / Counter Sales         101
29  214                                 Sales         101

In [31]:
job_category['category'].value_counts()

Government                          3
Accounting                          3
Legal                               3
Automotive                          3
Sales                               3
                                   ..
Translator                          1
Receptionist / Front Office Desk    1
Transport and Logistics             1
Office Boy / Peon                   1
Back Office                         1
Name: category, Length: 101, dtype: int64

In [32]:
job_category['country_id'].value_counts()

101    61
231    53
38     52
Name: country_id, dtype: int64

In [37]:
skill_set.head(30)

,id,user_id,category_id,sub_category_id,skill_set,created_at,updated_at
0,1,588,187,NaN,NaN,01/09/20 05:44 am,01/09/20 05:49 am
1,3,714,"352,370",NaN,NaN,01/21/20 05:52 am,01/21/20 05:53 am
2,4,724,"370,375",NaN,NaN,01/21/20 06:07 am,01/21/20 06:09 am
3,5,595,"219,186,189,389,192,194","1636,1637,1638",NaN,01/24/20 04:51 am,11/12/20 11:50 pm
4,6,683,"365,370,375","3072,3134,3149",NaN,01/24/20 07:01 am,08/26/20 12:39 pm
5,7,731,"365,376","3072,3158",NaN,02/19/20 10:44 pm,02/19/20 10:55 pm
6,10,635,"379,376,372",NaN,NaN,03/11/20 04:17 am,NaN
7,11,746,186,"1450,1451,1452",NaN,04/02/20 09:12 am,NaN
8,12,749,217,NaN,NaN,04/07/20 07:46 am,04/07/20 08:09 am
9,18,587,"186,187,188,189,192","1448,1449,1450",NaN,05/12/20 09:03 am,11/12/20 05:49 pm
10,20,761,"352,355,367","2999,3014,3128",NaN,11/12/20 03:44 pm,03/01/21 07:35 pm
11,21,593,"185,186",NaN,NaN,11/17/20 01:16 am,11/17/20 02:35 am
12,22,754,427,NaN,NaN,12/08/20 06:43 pm,NaN
13,24,614,362,NaN,NaN,12/21/20 08:16 am,NaN
14,29,780,"188,189,190,389,429,191,200","1480,1481,1482,1483,1484,1485",NaN,01/26/21 01:30 pm,02/12/21 02:05 pm
15,31,792,384,NaN,NaN,02/04/21 01:27 pm,08/06/21 05:11 am
16,38,799,"194,196",1512,NaN,02/11/21 02:46 pm,02/11/21 03:47 pm
17,39,803,359,"3026,3024",NaN,02/14/21 01:31 am,02/14/21 01:31 am
18,40,804,359,"3024,3025,3026,3027",NaN,02/14/21 02:02 am,02/14/21 02:02 am
19,41,806,"200,221,392","1532,1534,1535,1537,3856,3857,3955,3956,3344,3...",NaN,02/15/21 09:35 pm,07/20/21 11:57 pm
20,43,758,367,3128,NaN,03/01/21 07:34 pm,NaN
21,45,839,"192,434",NaN,NaN,04/05/21 04:26 am,06/22/21 07:01 pm
22,46,856,200,1537,NaN,04/06/21 05:10 am,04/06/21 05:10 am
23,47,816,"191,196,197,199,209","1491,1493,4078,4083,4085",NaN,04/06/21 11:08 am,04/21/21 03:53 pm
24,48,850,185,3202,NaN,04/06/21 11:16 am,08/05/21 05:13 am
25,49,848,"191,199,185",NaN,NaN,04/07/21 02:33 pm,05/24/21 01:45 pm
26,50,840,191,"1486,1487,1488",NaN,04/08/21 12:31 pm,04/08/21 12:32 pm
27,51,865,392,"3348,3994,3996",NaN,04/12/21 01:01 am,04/12/21 01:02 am
28,52,860,"384,474",NaN,NaN,04/12/21 03:14 pm,08/10/21 04:17 am
29,53,894,191,"1493,1488,1490,1489",NaN,04/18/21 09:29 pm,04/18/21 09:30 pm

In [38]:
applicants.head(30)

,id,user_id,dob,age,gender,address,locality_id,city_id,state_id,country_id,...,has_experience,current_experience,postal_code,profile_photo,shift_work,ex_servicemen,returning_parent_to_work,reason,created_at,updated_at
0,214,1200,NaN,21-25,m,NaN,Hindmotor,5511,41,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/13/21 03:29 pm,NaN
1,213,1198,NaN,26-30,m,NaN,Sgga,704,9,101,...,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,08/09/21 01:09 pm,08/09/21 01:20 pm
2,212,1196,NaN,21-25,m,NaN,jhgfcx,4510,37,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/09/21 09:04 am,NaN
3,211,1194,NaN,26-30,m,NaN,Gagag,91767,10,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/06/21 07:23 am,NaN
4,210,1189,NaN,21-25,m,NaN,Vvv,3659,35,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/06/21 05:10 am,NaN
5,209,1188,NaN,21-25,m,NaN,Vvb,1558,17,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/06/21 05:05 am,08/10/21 10:08 am
6,208,1187,NaN,21-25,m,NaN,Hgg,4460,36,101,...,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,08/06/21 05:03 am,08/06/21 05:06 am
7,207,1186,NaN,21-25,m,NaN,Bvv,4460,36,101,...,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,08/06/21 05:00 am,08/06/21 03:12 pm
8,206,1184,NaN,0-20,m,NaN,NaN,82415,664,38,...,0,NaN,dsfs,NaN,NaN,NaN,NaN,NaN,07/29/21 10:47 am,NaN
9,205,1183,NaN,21-25,m,NaN,d,7,2,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/27/21 05:40 am,07/27/21 12:23 pm
10,204,1181,NaN,31-40,m,NaN,Lalaept,285,2,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 04:14 pm,07/19/21 04:15 pm
11,203,1180,NaN,21-25,m,NaN,Lalapet,285,2,101,...,1,383.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 04:11 pm,07/19/21 04:12 pm
12,202,1179,NaN,21-25,m,NaN,Lalapet,285,2,101,...,1,749.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 04:08 pm,07/19/21 04:10 pm
13,201,1178,NaN,31-40,m,NaN,Lalpet,285,2,101,...,1,383.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 03:53 pm,07/19/21 03:55 pm
14,200,1177,NaN,26-30,m,NaN,Lalapet,285,2,101,...,1,2394.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 03:45 pm,07/22/21 06:10 am
15,199,1176,NaN,21-25,f,NaN,Lalapet,285,2,101,...,1,1479.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 02:05 pm,07/19/21 02:07 pm
16,198,1175,NaN,26-30,m,NaN,Lalapet,285,2,101,...,1,2557.0,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 01:31 pm,07/19/21 01:38 pm
17,197,1174,NaN,21-25,m,NaN,Lalapet,285,2,101,...,1,731.0,NaN,NaN,morning,0.0,0.0,NaN,07/19/21 01:21 pm,07/19/21 02:03 pm
18,196,1173,NaN,26-30,m,NaN,Gg,91767,10,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 12:38 pm,07/19/21 12:45 pm
19,195,1172,NaN,26-30,m,NaN,Saidabad,4460,36,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 10:16 am,07/19/21 12:29 pm
20,194,1171,NaN,21-25,m,NaN,Lalapet,90,2,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/19/21 05:39 am,NaN
21,193,1170,NaN,31-40,m,NaN,Saidabad,4460,36,101,...,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,07/19/21 04:23 am,07/19/21 04:31 am
22,192,1161,NaN,21-25,m,NaN,NaN,10867,675,38,...,0,0.0,9876,NaN,NaN,0.0,0.0,NaN,07/12/21 11:33 am,07/12/21 12:23 pm
23,191,1159,NaN,21-25,f,NaN,NaN,10254,671,38,...,1,365.0,67288,74b56123e99fde7e9464233c7dd37f16.png,"morning,afternoon,evening",NaN,NaN,NaN,07/12/21 07:35 am,07/12/21 07:48 am
24,190,1154,NaN,21-25,f,NaN,NaN,82417,666,38,...,1,9.0,56889,418979db48768ae564746368f413cec4.png,NaN,0.0,0.0,NaN,07/12/21 06:10 am,07/12/21 07:22 am
25,189,1150,NaN,21-25,f,NaN,Medchal,4479,36,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/09/21 06:10 pm,07/09/21 06:11 pm
26,188,1129,NaN,51-60,m,NaN,16111,594,6,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/05/21 08:02 am,07/05/21 08:03 am
27,187,1111,NaN,21-25,m,NaN,Bansnna,703,8,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/30/21 11:16 am,NaN
28,186,1109,NaN,21-25,f,NaN,sdfgh,451,5,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/30/21 05:34 am,NaN
29,185,1108,NaN,26-30,m,NaN,hm,5741,41,101,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/29/21 04:15 pm,06/29/21 04:16 pm

In [39]:
applicants['gender'].value_counts()

m        153
f         45
na         8
Male       7
?????      1
Name: gender, dtype: int64

In [40]:
applicants['age'].value_counts()

21-25    119
26-30     66
31-40     14
41-50      6
0-20       6
25         2
51-60      1
Name: age, dtype: int64

In [41]:
applicants['locality_id'].value_counts()

Test         9
Lalapet      7
Saidabad     7
Kk           6
Pimpri       4
            ..
dfghj        1
Tg           1
Manikonda    1
dfg          1
Vvb          1
Name: locality_id, Length: 128, dtype: int64

In [42]:
applicants['state_id'].value_counts()

2       51
22      34
4271    17
36      16
10      16
3        8
8        7
5        6
6        5
41       5
1        4
9        4
4264     3
38       3
4275     3
17       3
4        2
7        2
11       2
4242     2
29       2
37       1
666      1
34       1
4269     1
4268     1
35       1
675      1
671      1
668      1
665      1
39       1
664      1
4243     1
32       1
4239     1
4235     1
4234     1
4231     1
31       1
Name: state_id, dtype: int64

In [44]:
applicants['city_id'].value_counts()

2763     16
4460     14
287      13
707      12
6         9
         ..
605       1
2476      1
71254     1
91724     1
82173     1
Name: city_id, Length: 98, dtype: int64

In [45]:
applicants['country_id'].value_counts()

101    176
231     32
38       6
Name: country_id, dtype: int64

In [46]:
applicants['has_experience'].value_counts()

0    163
1     51
Name: has_experience, dtype: int64

In [47]:
job_applied.head(30)

,id,job_id,applicant_id,applied_date,interview_date,interview_time,status,hired_date,applicant_match_score,updated_date
0,426,54786,850,08/25/21 02:11 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
1,425,54786,860,08/20/21 10:49 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
2,424,54788,860,08/20/21 10:14 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
3,423,54708,800,08/12/21 11:45 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
4,422,54723,1084,08/12/21 11:43 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
5,421,54681,800,08/12/21 11:39 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
6,420,54722,1084,08/12/21 11:38 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
7,419,54728,1084,08/12/21 11:37 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
8,418,54731,1084,08/12/21 11:37 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
9,417,54729,1084,08/11/21 03:06 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
10,402,54793,1186,08/09/21 01:59 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
11,401,54780,844,08/09/21 01:59 pm,NaN,NaN,interview_schedule,NaN,NaN,08/09/21 03:01 pm
12,400,54793,1198,08/09/21 01:20 pm,08/09/21,07:26 pm,shortlisted,NaN,NaN,08/09/21 02:00 pm
13,399,54690,1198,08/09/21 01:19 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
14,398,54791,792,08/09/21 09:30 am,08/19/21,4:56,hired,08/29/21,NaN,08/09/21 03:06 pm
15,397,54788,792,08/09/21 09:12 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
16,396,54778,1186,08/06/21 06:44 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
17,395,54765,848,07/29/21 04:49 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
18,394,54769,792,07/29/21 04:42 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
19,393,54769,848,07/29/21 04:22 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
20,392,54766,785,07/26/21 09:42 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
21,391,54734,1161,07/26/21 09:05 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
22,390,54732,1084,07/26/21 08:58 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
23,389,54770,860,07/26/21 07:57 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
24,388,54769,860,07/26/21 06:59 am,NaN,NaN,shortlisted,NaN,NaN,07/26/21 07:53 am
25,387,54761,792,07/22/21 10:00 am,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
26,386,54768,806,07/20/21 09:03 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
27,385,54767,806,07/20/21 08:38 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
28,384,54766,806,07/20/21 08:22 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am
29,383,54765,806,07/20/21 07:40 pm,NaN,NaN,awaiting_review,NaN,NaN,11/30/00 12:00 am

In [49]:
job_applied['status'].value_counts()

awaiting_review       282
interview_schedule     69
shortlisted            34
hired                   8
phone_screened          7
reviewed                4
interviewed             3
rejected                2
resigned                1
offer_accepted          1
offer_issued            1
Name: status, dtype: int64